body {
  margin: 0px;
  background: #282a3a;
}
.code-editor {
  display: inline-flex;
  gap: 10px;
  font-family: monospace;
  border-radius: 2px;
  padding: 20px 10px;
  font-size: 20px;
  width: 100%;
  height: 100%;
}

textarea {
  font-family: monospace;
  font-size: 20px;
  overflow-y: hidden;
  padding: 0;
  border: 0;
  background: #282a3a;
  color: #FFF;
  outline: none;
  resize: none;
}

.line-numbers {
  width: 5%;
  text-align: right;
  padding-top: 3px;
}

.line-numbers span {
  counter-increment: linenumber;
}

.line-numbers span::before {
  content: counter(linenumber);
  display: block;
  color: #506882;
}